<div class="select-float" data-value="null" data-selected="false">
    <div class="select-float__input input-float">
        <div class="input-float__inputBox">
            <input type="text" class="select-float__inputEl input-float__input" />
            <label class="select-float__label input-float__label">Input Type Text</label>
        </div>
    </div>

    <div class="select-float__content">
        <ul class="select-float__options">
            <li class="select-float__option">
                <i class="select-float__opt-icon fa-solid fa-briefcase"></i>
                <span class="select-float__opt-value">Primera opción</span>
            </li>
            <li class="select-float__option">
                <i class="select-float__opt-icon fa-solid fa-briefcase"></i>
                <span class="select-float__opt-value">Segunda opción</span>
            </li>
            <li class="select-float__option">
                <i class="select-float__opt-icon fa-solid fa-briefcase"></i>
                <span class="select-float__opt-value">Tercera opción</span>
            </li>
            <span class="select-float__nomatches">Sin coincidencias</span>
        </ul>
    </div>
</div>
