<div class="select" data-value="null">
    <button class="select__btn">
        <i class="select__icon fa-solid fa-briefcase"></i>
        <span class="select__placeholder">Placeholcer del select</span>
        <i class="select__oc-arrow fa-solid fa-angle-down"></i>
        <!-- open-close icon -->
    </button>

    <div class="select__content">
        <div class="select__search input-border">
            <div class="input-border__inputBox">
                <i class="input-border__i fa-solid fa-search"></i>
                <input type="text" class="select__input-search input-border__input" placeholder="Buscar" />
            </div>
        </div>

        <ul class="select__options">
            <li class="select__option">
                <i class="select__opt-icon fa-solid fa-briefcase"></i>
                <span class="select__opt-value">Primera opción</span>
            </li>
            <li class="select__option">
                <i class="select__opt-icon fa-solid fa-briefcase"></i>
                <span class="select__opt-value">Segunda opción</span>
            </li>
            <li class="select__option">
                <i class="select__opt-icon fa-solid fa-briefcase"></i>
                <span class="select__opt-value">Tercera opción</span>
            </li>
            <span class="select__nomatches">Sin coincidencias</span>
        </ul>
    </div>
</div>
