<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="tab tab--v">
    <div class="tab__header">
        <button class="tab__btn tab__backBtn"><i class="tab__ri fa-solid fa-angle-right"></i></button>

        <ul class="tab__tabs">
            <li class="tab__item tab__item--active">
                <i class="fa-solid fa-home"></i>
                <a href="#">Home</a>
            </li>

            <li class="tab__item">
                <i class="fa-solid fa-tachometer-alt"></i>
                <a href="#">Dashboard</a>
            </li>

            <li class="tab__item">
                <i class="fa-solid fa-book"></i>
                <a href="#">Docs</a>
                <span class="badge bg-bermellon-500">10</span>
            </li>

            <li class="tab__item">
                <i class="fa-solid fa-icons"></i>
                <a href="#">Icons</a>
            </li>

            <li class="tab__item">
                <i class="fa-solid fa-cubes"></i>
                <a href="#">components</a>
            </li>

            <li class="tab__item">
                <i class="fa-solid fa-users"></i>
                <a href="#">Teams</a>
            </li>

            <li class="tab__item">
                <i class="fa-solid fa-shield-alt"></i>
                <a href="#">Security</a>
            </li>

            <!--Tab Items end-->
        </ul>

        <button class="tab__btn tab__nextBtn"><i class="tab__ri fa-solid fa-angle-right"></i></button>
    </div>

    <div class="tab__body">
        <p>Aqui va el contenido de el tab de <b class="text-france-500">Home</b></p>
    </div>
</div>
