<ul class="accordions-group">
    <li class="accordion accordion--collapsed">
        <div class="accordion__header">
            <h4 class="accordion__title">Primer Grupo de Colapsado</h4>
            <a class="accordion__icon"><i class="fa-solid fa-angle-up"></i></a>
        </div>
        <p class="accordion__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet laudantium, et optio commodi eum perspiciatis vero itaque. Dolore.</p>
    </li>
    <li class="accordion">
        <div class="accordion__header">
            <h4 class="accordion__title">Primer Grupo de Colapsado</h4>
            <div class="accordion__icon"><i class="fa-solid fa-angle-up"></i></div>
        </div>
        <p class="accordion__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae cumque quisquam officiis aliquid molestiae nemo sed, incidunt at?</p>
    </li>
</ul>