<section class="avatar">
    <picture class="avatar__image ">
        <img
            src="https://xsgames.co/randomusers/assets/avatars/male/1.jpg"
            alt="Miguel J Medina"
        />
    </picture>
    <picture class="avatar__image disconnected">
        <img
            src="https://xsgames.co/randomusers/assets/avatars/male/2.jpg"
            alt="Miguel J Medina"
        />
    </picture>
    <picture class="avatar__image ">
        <img
            src="https://xsgames.co/randomusers/assets/avatars/male/3.jpg"
            alt="Miguel J Medina"
        />
    </picture>
    <picture class="avatar__image ">
        <img
            src="https://xsgames.co/randomusers/assets/avatars/male/4.jpg"
            alt="Miguel J Medina"
        />
    </picture>
</section>