<section class="avatar">
    <picture class="avatar__image ">
        <img
            src="/assets/image/user-10.jpg"
            alt="Miguel J Medina"
        />
    </picture>
    <picture class="avatar__image disconnected">
        <img
            src="/assets/image/user-20.jpg"
            alt="Miguel J Medina"
        />
    </picture>
    <picture class="avatar__image ">
        <img
            src="/assets/image/user-30.jpg"
            alt="Miguel J Medina"
        />
    </picture>
    <picture class="avatar__image ">
        <img
            src="/assets/image/user-55.jpg"
            alt="Miguel J Medina"
        />
    </picture>
</section>