<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="timeline">
    <div class="timeline__item">
        <div class="timeline__left">
            <div class="timeline__icon timeline__icon--first"><i class="timeline__favicon fa-solid fa-graduation-cap"></i></div>
        </div>
        <div class="timeline__content">
            <div class="timeline__header">
                <h3 class="timeline__title">EDteam</h3>
                <p class="timeline__date">OCT 2022 - PRESENT</p>
            </div>
            <div class="timeline__description">
                <p>UI & Web design, Responsive Web Desing HTML5, JavaScript, GIT, SVG, Remote work</p>
            </div>
        </div>
    </div>

    <div class="timeline__item">
        <div class="timeline__left">
            <div class="timeline__icon"><i class="timeline__favicon fa-solid fa-graduation-cap"></i></div>
        </div>
        <div class="timeline__content">
            <div class="timeline__header">
                <h3 class="timeline__title">IPAD</h3>
                <p class="timeline__date">OCT 2020 - ENE 2021</p>
            </div>
            <div class="timeline__description">
                <p>Photoshop, Web design</p>
            </div>
        </div>
    </div>

    <div class="timeline__item">
        <div class="timeline__left">
            <div class="timeline__icon"><i class="timeline__favicon fa-solid fa-graduation-cap"></i></div>
        </div>
        <div class="timeline__content">
            <div class="timeline__header">
                <h3 class="timeline__title">IEST CESCA</h3>
                <p class="timeline__date">OCT 2018 - ENE 2022</p>
            </div>
            <div class="timeline__description">
                <p>Senior Technician in Computing and Informatics</p>
            </div>
        </div>
    </div>

</div>