<button class="btn btn--s btn--dropdown">
	<i class="btn__icon fa-solid fa-link"></i>
	<span class="btn__txt">Button & icon</span>
	<span class="btn__arrow"><i class="btn__arrowIcon fa-solid fa-angle-down"></i></span>

	<ul class="btn__dropdown">
		<li class="btn__item">
			<a class="btn__link" href="#">Option one of selected</a>
		</li>
		<li class="btn__item">
			<a class="btn__link" href="#">Option two</a>
		</li>
		<li class="btn__item">
			<a class="btn__link" href="#">Option three</a>
		</li>
	<ul>
</button>