.btn {
    --font-size: 16px;
    --line-height: 1.5;

    font-size: var(--font-size);
    line-height: var(--line-height);
    width: max-content;
    outline: none;
    padding: 0.375em 0.75em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    cursor: pointer;
    border: 1px solid;
    border-color: currentColor;
    transition: opacity 0.3s, background-color 0.3s;
    user-select: none;
}
.btn--s {
    background-color: #2589e7;
    border-color: #2589e7;
    color: #ebebeb;
}
.btn--l {
    border: 0;
}
.btn--o,
.btn--l {
    background-color: transparent;
    color: #1774ca;
}
.btn--loading {
    pointer-events: none;
    opacity: 0.5;
}
.btn__icon {
    width: var(--font-size);
    line-height: var(--line-height);
    fill: currentColor;
    display: flex;
    align-items: center;
}
.btn--loading .btn__icon {
    animation: rotate 1.5s infinite;
}
.btn--s:hover,
.btn--s:active {
    background-color: #1774ca;
}
.btn--o:hover,
.btn--o:active,
.btn--l:hover,
.btn--l:active {
    background-color: #1774ca33;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}