<button class="btn btn--s">
    <span class="btn__icon">
        <svg width="16" height="16" viewBox="0 0 46 46">
            <circle cx="23" cy="5" r="4" />
            <circle cx="5" cy="23" r="4" />
            <circle cx="41" cy="23" r="4" />
            <circle cx="10" cy="10" r="4" />
            <circle cx="10" cy="36" r="4" />
            <circle cx="36" cy="36" r="4" />
            <circle cx="23" cy="41" r="4" />
        </svg>
    </span>
    <span class="btn__txt">Button & icon</span>
</button>

<button class="btn btn--o">
    <span class="btn__icon">
        <svg width="16" height="16" viewBox="0 0 46 46">
            <circle cx="23" cy="5" r="4" />
            <circle cx="5" cy="23" r="4" />
            <circle cx="41" cy="23" r="4" />
            <circle cx="10" cy="10" r="4" />
            <circle cx="10" cy="36" r="4" />
            <circle cx="36" cy="36" r="4" />
            <circle cx="23" cy="41" r="4" />
        </svg>
    </span>
    <span class="btn__txt">Button & icon</span>
</button>

<button class="btn btn--l">
    <span class="btn__icon">
        <svg width="16" height="16" viewBox="0 0 46 46">
            <circle cx="23" cy="5" r="4" />
            <circle cx="5" cy="23" r="4" />
            <circle cx="41" cy="23" r="4" />
            <circle cx="10" cy="10" r="4" />
            <circle cx="10" cy="36" r="4" />
            <circle cx="36" cy="36" r="4" />
            <circle cx="23" cy="41" r="4" />
        </svg>
    </span>
    <span class="btn__txt">Button & icon</span>
</button>
