.btn {
    --font-size: 16px;
    --line-height: 1.5;

	font-size: var(--font-size);	
	line-height: var(--line-height);
	width: max-content;
	outline: none;
	padding: .375em 0.75em;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .75em;
	cursor:pointer;
	border: 1px solid;
	border-color: currentColor;
	transition: opacity .3s, background-color .3s;
}
.btn--s{
	background-color: #2589e7;
	border-color: #2589e7;
	color: #ebebeb;
}
.btn__icon{
    width: var(--font-size);
	line-height: var(--line-height);
}
.btn--dropdown {
	position: relative;
	justify-content: space-between;
}
.btn__txt {
	flex-grow: 2;
	text-align: start;
}
.btn__arrow {
	transition: transform .6s;
}
.btn__arrow--up {
	transform: rotate(-180deg);
}

.btn--s:hover, 
.btn--s:active,
.btn--s.dropdown-opened  {
	background-color: #1774ca;
}



.btn__dropdown {
	min-width: 85%;
	padding: 6px 0;
	
	background-color: #fff;
	box-shadow: 0 0 5px 2px #5e5e5e33;
	border-radius: 6px;
	
	position: absolute;
	z-index: 1;
	top: 120%; right: 0;

	transform-origin: top center;
	transform: scaleY(0);
	opacity: 0;

	transition: transform .6s, opacity .6s;
}

.btn__dropdown--unfolded {
	opacity: 1;	
	transform: scaleY(1);
}

.btn__link {
	display: block;
	width: 100%;
	padding: 6px 12px;
	color: #777777;
	text-align: left;
	transition: background-color .6;
}

.btn__link:active,
.btn__link:hover {
	background-color: #f3f3f3;
    color: #333;
}

/* Sizes */
.btn--small {
	font-size: .8rem;
}

.btn--big {
	font-size: var(--font-size-xl);
}