<style class="card-user-10">
    .card-user-10 .card {
        width: 300px;
        font-size: 16px;
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        color: #6d6767;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 18px;
        gap: 20px;
    }
    .card-user-10 .card__picture {
        width: 100%;
        height: 140px;
        background-image: url(/assets/image/background-300x200.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .card-user-10 .card__country-flag {
        width: 20px;
        height: 20px;
    }
    .card-user-10 .card__avatar {
        display: inline-block;
        border-radius: 50%;
        position: relative;
        top: 70px;
        left: 0;
    }
    .card-user-10 .card__avatar-image {
        width: 125px;
        height: 125px;
        border: 0.5rem solid var(--white);
        border-radius: 50%;
        font-size: inherit;
    }

    .card-user-10 .card__about {
        margin-top: 50px;
    }

    .card-user-10 .card__name {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .card-user-10 .card__links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .card-user-10 .card__link {
        padding: 6px;
        color: #6d6767;
        font-size: 18px;
    }
</style>
<div class="card-user-10">
    <div class="card">
        <div class="card__picture">
            <figure class="card__avatar">
                <img class="card__avatar-image" src="/assets/image/user-55.jpg" alt="Miguel J Medina" />
            </figure>
        </div>
        <div class="card__about">
            <div class="card__name">
                <img class="card__country-flag" src="/assets/image/flag-peru.png" alt="" />
                <span class="card__title">Miguel J Medina</span>
            </div>
            <p class="card__description">Coordinador & UI Design</p>
        </div>
        <div class="card__links">
            <a class="card__link" href="#"><i class="fa-brands fa-github"></i></a>
            <a class="card__link" href="#"><i class="fa-brands fa-codepen"></i></a>
            <a class="card__link" href="#"><i class="fa-brands fa-linkedin"></i> </a>
            <a class="card__link" href="#"><i class="fa-solid fa-earth-americas"></i></a>
        </div>
    </div>
</div>
