<style class="card-service-9">
    .card-service-9 .card {
        width: 300px;
        font-size: 16px;
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        color: #6d6767;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 24px;
        gap: 12px;
        align-items: center;
    }
    .card-service-9 .card__icon {
        font-size: 60px;
        line-height: 0;
        color: #ada7a7;
    }
    .card-service-9 .card__title {
        font-size: 24px;
    }
    .card-service-9 .card__description {
        font-size: 16px;
    }
    .card-service-9 .card__cta {
        font-size: 20px;
        line-height: 1.5;
        width: max-content;
        outline: none;
        padding: 0.375em 0.75em;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75em;
        cursor: pointer;
        border: 0;
        transition: background-color 0.3s;

        background-color: #2589e7;
        color: #ebebeb;
    }
    .card-service-9 .card__cta:hover {
        background-color: #1666b1;
    }
</style>
<div class="card-service-9">
    <div class="card">
        <span class="card__icon">
            <i class="fa-solid fa-window-maximize"></i>
        </span>
        <h3 class="card__title">Nombre del servicio</h3>
        <p class="card__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s.
        </p>
        <button class="card__cta"><i class="fa-solid fa-link"></i> Botón de acción</button>
    </div>
</div>
