<style class="card-product-8">
    .card-product-8 .card {
        width: 300px;
        font-size: 16px;
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        color: #6d6767;
        display: flex;
        flex-direction: column;
    }
    .card-product-8 .card__header {
        width: 100%;
        height: 250px;
    }
    .card-product-8 .card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .card-product-8 .card__body {
        padding: 12px 24px;
        display: grid;
        gap: 12px;
    }
    .card-product-8 .card__title {
        font-size: 20px;
        font-weight: 700;
    }
    .card-product-8 .card__description {
        font-size: 14px;
        line-height: 1.5;
    }
    .card-product-8 .card__tags {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .card-product-8 .card__tag {
        font-size: 12px;
        background-color: #e6e6e6;
        padding: 3px 6px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .card-product-8 .card__footer {
        border-top: 1px solid #e6e6e6;
        padding: 14px 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-product-8 .card__avatar {
        display: inline-flex;
        margin-left: 15px;
    }
    .card-product-8 .card__avatar-image {
        width: 5rem;
        height: 5rem;
        margin-left: -15px;
        overflow: hidden;
        position: relative;
        object-fit: contain;
        border-radius: 50%;
        border: 4px solid #fefefe;
    }
</style>
<div class="card-product-8">
    <div class="card">
        <div class="card__header">
            <img class="card__img" src="/assets/image/background-300x200.jpg" />
        </div>
        <div class="card__body">
            <h3 class="card__title">Titulo de la tarjeta</h3>
            <p class="card__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s.
            </p>
            <div class="card__tags">
                <span class="card__tag">HTML <i class="fa-brands fa-html5"></i></span>
                <span class="card__tag">CSS <i class="fa-brands fa-css3"></i></span>
                <span class="card__tag">JavaScript <i class="fa-brands fa-js-square"></i></span>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__avatar">
                <img class="card__avatar-image" src="/assets/image/user-10.jpg" alt="Miguel J Medina" />
                <img class="card__avatar-image" src="/assets/image/user-20.jpg" alt="Miguel J Medina" />
                <img class="card__avatar-image" src="/assets/image/user-30.jpg" alt="Miguel J Medina" />
            </div>
            <div class="card__right">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>152 USD</span>
            </div>
        </div>
    </div>
</div>
