<div class="card">
    <div class="card__header">
        <img class="card__img" src="/assets/background-300x200.jpg">
    </div>
    <div class="card__body">
        <h3 class="card__title">Titulo de la tarjeta</h3>
        <p class="card__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <div class="card__tags">
            <span class="card__tag">HTML <i class="fa-brands fa-html5"></i></span>
            <span class="card__tag">CSS <i class="fa-brands fa-css3"></i></span>
            <span class="card__tag">JavaScript <i class="fa-brands fa-js-square"></i></span>
        </div>
    </div>
    <div class="card__footer">
        <div class="card__avatar">
            <img class="card__avatar-image" src="/assets/user-10.jpg" alt="Miguel J Medina">
            <img class="card__avatar-image" src="/assets/user-20.jpg" alt="Miguel J Medina">
            <img class="card__avatar-image" src="/assets/user-30.jpg" alt="Miguel J Medina">
        </div>
        <div class="card__right">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>152 USD</span>
        </div>
    </div>
</div>