<div class="stepper">
     <div class="stepper__step stepper__step--active">
         <div class="stepper__icon"><span>1</span></div>
         <p class="stepper__txt">Shopping cart</p>
     </div>
     <div class="stepper__step">
         <div class="stepper__icon"><span>2</span></div>
         <p class="stepper__txt">Sale summary</p>
     </div>
     <div class="stepper__step">
         <div class="stepper__icon"><span>3</span></div>
         <p class="stepper__txt">Payment form</p>
     </div>
     <div class="stepper__step">
         <div class="stepper__icon"><span>4</span></div>
         <p class="stepper__txt">Payment Confirmed</p>
     </div>
 </div>
 
 <div class="btnscontainer">
     <button id="lastBtn">Back</button>
     <button id="nextBtn">Next</button>
 </div>