<div class="list-item">
    <span class="list-item__header">Lista del aside</span>
    <ul class="list-item__content">
        <li class="list-item__item">
            <a class="list-item__link" href="#">
                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                <span class="list-item__text">1. Primera Opcion</span>
                <span class="list-item__icon-right"> <small class="list-item__badge">+99</small> </span>
            </a>
            <div class="list-item__dropdown">
                <ul class="list-item__content">
                    <li class="list-item__item">
                        <a class="list-item__link" href="#">
                            <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                            <span class="list-item__text">Opciones de primer nivel</span>
                        </a>
                    </li>
                    <li class="list-item__item">
                        <a class="list-item__link" href="#">
                            <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                            <span class="list-item__text">Opciones de primer nivel</span>
                        </a>
                    </li>
                    <li class="list-item__item">
                        <a class="list-item__link" href="#">
                            <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                            <span class="list-item__text">Opciones de primer nivel</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="list-item__item">
            <a class="list-item__link" href="#">
                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                <span class="list-item__text">2. Segunda Opacion</span>
            </a>
            <div class="list-item__dropdown">
                <ul class="list-item__content">
                    <li class="list-item__item">
                        <a class="list-item__link" href="#">
                            <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                            <span class="list-item__text">Opciones de primer nivel</span>
                        </a>
                    </li>
                    <li class="list-item__item">
                        <a class="list-item__link" href="#">
                            <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                            <span class="list-item__text">Opciones de primer nivel</span>
                        </a>
                    </li>
                    <li class="list-item__item">
                        <a class="list-item__link" href="#">
                            <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                            <span class="list-item__text">Opciones de primer nivel</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>

        <li class="list-item__item">
            <a class="list-item__link" href="#">
                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                <span class="list-item__text">3. Opciones de primer nivel</span>
            </a>
        </li>

        <li class="list-item__item">
            <a class="list-item__link" href="#">
                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                <span class="list-item__text">4. Opciones de primer nivel</span>
            </a>
        </li>

    </ul>

</div>