<div class="list-article">
    <div class="list-article__header">Lista del article</div>
    <ul class="list-article__content">
        <li class="list-article__item">
            <a class="list-article__link list-article__link--active" href="#">
                <figure class="list-article__figure">
                    <img class="list-article__image" src="assets/user.jpg" alt="">
                </figure>
                <span class="list-article__text">
                    <span class="list-article__title">Titulo del articulo generado para aplicar la propiedad
                        text-overflow</span>
                    <span class="list-article__description">Descripcion del articulo, pero solo deven
                        aparecer 2 lineas, y el resto debe estar oculto</span>
                </span>
            </a>
        </li>
        <li class="list-article__item">
            <a class="list-article__link" href="#">
                <figure class="list-article__figure">
                    <img class="list-article__image" src="assets/user.jpg" alt="">
                </figure>
                <span class="list-article__text">
                    <span class="list-article__title">Titulo del articulo generado para aplicar la propiedad
                        text-overflow</span>
                    <span class="list-article__description">Descripcion del articulo, pero solo deven
                        aparecer 2 lineas, y el resto debe estar oculto</span>
                </span>
            </a>
        </li>
        <li class="list-article__item">
            <a class="list-article__link" href="#">
                <figure class="list-article__figure">
                    <img class="list-article__image" src="assets/user.jpg" alt="">
                </figure>
                <span class="list-article__text">
                    <span class="list-article__title">Titulo del articulo generado para aplicar la propiedad
                        text-overflow</span>
                    <span class="list-article__description">Descripcion del articulo, pero solo deven
                        aparecer 2 lineas, y el resto debe estar oculto</span>
                </span>
            </a>
        </li>
    </ul>
</div>
