<style class="list-items-13">
    .list-items-13 .list-item {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        gap: 6px;
    }
    .list-items-13 .list-item__header {
        display: block;
        line-height: 1.3;
        font-weight: 700;

        color: #565c68;
        padding: 6px 12px;
    }
    .list-items-13 .list-item__link {
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375em 1.5em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        color: #565c68;
        cursor: pointer;
        transition: color 0.5s;
    }
    .list-items-13 .list-item__link:hover {
        color: #3a3e46;
    }
    .list-items-13 .list-item__icon-left {
        width: 20px;
        text-align: left;
        vertical-align: middle;
        font-size: 0.8em;
    }
    .list-items-13 .list-item__text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .list-items-13 .list-item__badge {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        font-size: 0.75em;
        color: #e6e6e6;
        background-color: #e41d37;
        padding: 0.1em 0.6em;

        cursor: pointer;
        white-space: nowrap;
        border-radius: 6px;
    }
    .list-items-13 .list-item__dropdown {
        margin-left: 24px;
        overflow: hidden;
        height: auto;
    }
</style>
<div class="list-items-13">
    <div class="list-item">
        <span class="list-item__header">Lista del aside</span>
        <ul class="list-item__content">
            <li class="list-item__item">
                <a class="list-item__link" href="#">
                    <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                    <span class="list-item__text">1. Primera Opcion</span>
                    <span class="list-item__icon-right"> <small class="list-item__badge">+99</small> </span>
                </a>
                <div class="list-item__dropdown">
                    <ul class="list-item__content">
                        <li class="list-item__item">
                            <a class="list-item__link" href="#">
                                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                                <span class="list-item__text">Opciones de primer nivel</span>
                            </a>
                        </li>
                        <li class="list-item__item">
                            <a class="list-item__link" href="#">
                                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                                <span class="list-item__text">Opciones de primer nivel</span>
                            </a>
                        </li>
                        <li class="list-item__item">
                            <a class="list-item__link" href="#">
                                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                                <span class="list-item__text">Opciones de primer nivel</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list-item__item">
                <a class="list-item__link" href="#">
                    <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                    <span class="list-item__text">2. Segunda Opacion</span>
                </a>
                <div class="list-item__dropdown">
                    <ul class="list-item__content">
                        <li class="list-item__item">
                            <a class="list-item__link" href="#">
                                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                                <span class="list-item__text">Opciones de primer nivel</span>
                            </a>
                        </li>
                        <li class="list-item__item">
                            <a class="list-item__link" href="#">
                                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                                <span class="list-item__text">Opciones de primer nivel</span>
                            </a>
                        </li>
                        <li class="list-item__item">
                            <a class="list-item__link" href="#">
                                <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                                <span class="list-item__text">Opciones de primer nivel</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="list-item__item">
                <a class="list-item__link" href="#">
                    <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                    <span class="list-item__text">3. Opciones de primer nivel</span>
                </a>
            </li>

            <li class="list-item__item">
                <a class="list-item__link" href="#">
                    <span class="list-item__icon-left"><i class="fa-solid fa-dot-circle"></i></span>
                    <span class="list-item__text">4. Opciones de primer nivel</span>
                </a>
            </li>
        </ul>
    </div>
</div>
