<div class="list-article">
    <div class="list-article__header">List articles</div>
    <ul class="list-article__content">
        <li class="list-article__item">
            <a class="list-article__link list-article__link--active" href="#">
                <figure class="list-article__figure">
                    <img class="list-article__image" src="https://layblu-ui.vercel.app/assets/image/user-30.jpg" alt="" />
                </figure>
                <span class="list-article__text">
                    <span class="list-article__title">Title of article</span>
                    <span class="list-article__description"
                        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti asperiores libero quisquam quam dicta facilis!</span
                    >
                </span>
            </a>
        </li>
        <li class="list-article__item">
            <a class="list-article__link" href="#">
                <figure class="list-article__figure">
                    <img class="list-article__image" src="https://layblu-ui.vercel.app/assets/image/user-30.jpg" alt="" />
                </figure>
                <span class="list-article__text">
                    <span class="list-article__title">Title of article</span>
                    <span class="list-article__description"
                        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti asperiores libero quisquam quam dicta facilis!</span
                    >
                </span>
            </a>
        </li>
        <li class="list-article__item">
            <a class="list-article__link" href="#">
                <figure class="list-article__figure">
                    <img class="list-article__image" src="https://layblu-ui.vercel.app/assets/image/user-30.jpg" alt="" />
                </figure>
                <span class="list-article__text">
                    <span class="list-article__title">Title of article</span>
                    <span class="list-article__description"
                        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti asperiores libero quisquam quam dicta facilis!</span
                    >
                </span>
            </a>
        </li>
    </ul>
</div>
