<div class="alert p-0 bg-amber-400 border-amber-300 text-amber-700">
    <div class="alert__body gap-0">
        <div class="alert__header px-15 py-10">
            <span class="alert__icon"><i class="fa-regular fa-circle-check"></i></span>
            <span class="alert__title">Titulo de mi alerta</span>
            <a class="alert__closed"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="alert__content bg-amber-200 p-15">
            <p>Este es el primer contenido generado por LayBlu UI Components</p>
        </div>
    </div>
</div>