<div class="alert">
    <div class="alert__callout"></div>
    <div class="alert__body">
        <div class="alert__header">
            <span class="alert__icon"><i class="fa-regular fa-circle-check"></i></span>
            <span class="alert__title">Titulo de mi alerta</span>
            <a class="alert__closed"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="alert__content">
            <p>Este es el primer contenido generado por LayBlu UI Components</p>
        </div>
    </div>
</div>