.alert {
    background-color: #2f8de7;
    color: #ebf5ff;
    padding: 12px 24px;
    border-radius: 6px;

    border: 1px solid #2f8de7;
    font-size: 16px;

    display: flex;
    gap: 12px;
    max-width: 600px;
    width: 100%;
}
.alert__callout {
    position: relative;
    display: block;
    width: 5px;
    min-width: 5px;
    background-color: currentColor;
    border-radius: 6px;
}
.alert__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.alert__header {
    display: flex;
    gap: 12px;
    width: 100%;
}
.alert__icon svg {
    fill: #ebf5ff;
}
.alert__title {
    flex-grow: 1;
    font-weight: 700;
}
.alert__closed {
    border: none;
    cursor: pointer;
    fill: #ebf5ff;
    opacity: 0.75;
    background-color: transparent;

    transition: opacity 0.3s;
}
.alert__closed:hover {
    opacity: 1;
}
.alert__content {
    flex-grow: 1;
    width: 100%;
}
.alert__content p {
    margin: 0;
}
