<button class="btn btn--s" id="activateModal">Open Modal</button>
<dialog class="modal" id="modal">
    <div class="modal__header">
        <h3 class="modal__title">Titulo de mi modal</h3>
        <button id="close_modal" class="modal__close-btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal__body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>
    <div class="modal__footer">
        <button id="cancel" class="modal__btn btn btn--l">Cancel</button>
        <button id="save" class="modal__btn btn btn--s">Save</button>
    </div>
</dialog>