.breadcrumb{
    --opacity: .6;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #2366be;
    padding: 6px;
}
.breadcrumb__item{
    align-items: center;
    display: flex;
    gap: 12px;
    color: inherit;
}
.breadcrumb__item::after{
    font-family: "FontAwesome";
    opacity: var(--opacity);
    content: '\f105'
}
.breadcrumb__item:last-child::after{
    content: '';
}
.breadcrumb__link{
    opacity: var(--opacity);
    color: inherit;
    transition: opacity .3s
}
.breadcrumb__link:hover,
.breadcrumb__link--active{
    opacity: 1;
}
